@model Search_Invoice.Data.Domain.NguoiSuDung

@{
  ViewBag.Title = "Thêm mới người sử dụng";
  Layout = "~/Views/Shared/_Danhmuc.cshtml";
}

@section BoxBody {


  <div class="page-content">
    <div class="page-header">
      <h1>Thêm mới Người sử dụng</h1>
    </div>

    @using (Html.BeginForm("Create", "NguoiSuDung", FormMethod.Post))
    {
      @Html.AntiForgeryToken()

      <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger col-md-offset-2"})
        <div class="form-group">
          <label class="control-label col-md-2">Tên truy cập</label>
          <div class="col-md-10">
            @Html.TextBoxFor(model => model.TenTruyCap, new {@class = "form-control", required = "required"})
            @Html.ValidationMessageFor(model => model.TenTruyCap, "", new {@class = "text-danger"})
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Mật khẩu</label>
          <div class="col-md-10">
            @Html.PasswordFor(model => model.MatKhau, new {@class = "form-control", required = "required"})
            @Html.ValidationMessageFor(model => model.MatKhau, "", new {@class = "text-danger"})
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Tên người dùng</label>
          <div class="col-md-10">
            @Html.TextBoxFor(model => model.TenNguoiDung, new {@class = "form-control", required = "required"})
            @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new {@class = "text-danger"})
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-2">Nhóm quyền</label>
          <div class="col-md-10">
            @Html.DropDownListFor(model => model.MaQuyen, null, "--- Chọn danh mục ---", new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.MaQuyen, "", new {@class = "text-danger"})
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-default pull-right"/>
          </div>
        </div>
      </div>
    }

    <div>
      <a href="@Url.Action("Index", "NguoiSuDung")" class="btn btn-default">Về trang danh sách</a>
    </div>
  </div>

}