@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_PageHomeLayout.cshtml";
}
@using Search_Invoice.Models;
@model LoginViewModel
@{
  TracuuModels tracuu = @ViewBag.Tracuu;
}

@section stylecustome
{
  <link href="~/Content/css/pagehomeindex.css" rel="stylesheet" />
}

<main id="main" class="site-main" role="main">
  <article id="post-2076" class="post-detail post-2076 post type-post status-publish format-standard has-post-thumbnail hentry category-khao-sat-y-kien">
    <h1 class="hs-post-detail-title">TRA CỨU HÓA ĐƠN ĐIỆN TỬ M-INVOICE</h1>
    <div class="check">
      <label class="abc">
        Theo mã tra cứu hóa đơn
        <input type="radio" checked="checked" name="radio" value="ckd1">
        <span class="checkmark"></span>
      </label>
      <label class="abc">
        Từ file hóa đơn
        <input type="radio" name="radio" value="ckd2">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="entry-content">
      <div class="module form-group">
        <div id="divSearchMain">
          <div class="col-md-9">
            <div class="module-body" align="left">
              <div class="form-horizontal row-fluid">
                <form action="/" class="form-horizontal" id="frmIndex" method="post" target="_blank">
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><b>Mã số thuế đơn vị bán</b><b style="color: red"> (*)</b></label>
                    <div class="controls">
                      <input id="txtMST" name="masothue" value="@tracuu.mst" type="text" class="form-control input-lg" placeholder="Nhập mã số thuế ..." >
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput"><b>Số bảo mật</b><b style="color: red"> (*)</b></label>
                    <div class="controls">
                      <input id="txtSobaomat" name="sobaomat" value="@tracuu.sobaomat" type="text" class="form-control input-lg" placeholder="Nhập số bảo mật ...">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="form-group row no-line">
            <div class="col-sm-12">
              <button class="btn btn-success tracuu1" id="btnInvoice">
                <span class="glyphicon glyphicon-search"></span><i class="fas fa-search"></i> Tra
                cứu hóa đơn
              </button>
            </div>
          </div>
        </div>

        <!-- form theo file-->
        <div id="divSearchByFile" style="display: none">
          <div class="col-md-8">
            <div class="module-body" align="left">
              <div class="form-horizontal row-fluid">
                <form action="/" class="form-horizontal" id="frmIndex" method="post" target="_blank">
                  <div class="control-group">
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="input-file-now" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" id="file-input-name">Choose file *.ZIP</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="form-group row no-line">
            <div class="col-md-6 tracuuxml">
              <div class="col-md-3">
                <button class="btn btn-success tracuu1" id="btnUpFile">
                  <span class="glyphicon glyphicon-search"></span><i class="fas fa-search"></i>
                  Xem hóa đơn
                </button>
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary" id="btnVeryXml" onclick="veryfyXml()">
                  <span class="glyphicon glyphicon-search"></span>Kiểm tra file Hóa đơn
                </button>
              </div>
            </div>
          </div>
        </div>

        @*<!--table trả kết quả tra cứu theo số bảo mật-->
          <div class="row" hidden="hidden" id="divInvoice">
            <div class="col-sm-12">
              <div class="white-box">
                <h4 class="box-title m-b-0">Kết quả tra cứu</h4>
                <p class="text-muted m-b-20">
                  Thông tin<code>hóa đơn</code>mà Quý khách hàng đã tra cứu !
                </p>
                <div class="table-responsive">
                  <table class="table table-bordered" hidden="hidden" id="tableInvoice">
                    <thead style="background-color:#006ab5">
                      <tr>
                        <th>Mẫu số</th>
                        <th>Ký hiệu</th>
                        <th>Số hóa đơn</th>
                        <th>Ngày hóa đơn</th>
                        <th>Tổng tiền</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--Thêm boby của bảng vào đây-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>*@
      </div>
      <section id="home-services">
        <div class="wrapper">
          <div class="inner">
            <div class="grid-uniform md-mg-left-10">
              <div class="grid__item wow fadeInUp md-pd-left10 large--one-third medium--one-half small--one-whole"
                   data-wow-delay="0.2s"
                   data-wow-duration="0.75s">
                <div class="hservice-item text-center">
                  <div class="hservice-img">
                    <img width="80" height="180" src="~/UI/tracuu.minvoice.vn/wp-content/uploads/2018/24h.jpg" class="image wp-image-1402  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" sizes="(max-width: 300px) 100vw, 300px" />
                  </div>
                  <div class="hservice-title">
                    <a href="#">TƯ VẤN - HỖ TRỢ</a>
                  </div>
                  <div class="hservice-desc">
                    <p><i class="fas fa-check"></i>Hỗ trợ thông báo phát hành hóa đơn</p>
                    <p><i class="fas fa-check"></i>Tư vấn nghiệp vụ hóa đơn trong quá trình sử dụng</p>
                    <p><i class="fas fa-check"></i>Giải quyết vướng mắc của khách hàng trong vòng 02 giờ</p>
                  </div>
                </div>
              </div>

              <div class="grid__item wow fadeInUp md-pd-left10 large--one-third medium--one-half small--one-whole"
                   data-wow-delay="0.4s"
                   data-wow-duration="0.75s">
                <div class="hservice-item text-center">
                  <div class="hservice-img">
                    <img width="88" height="180" src="~/UI/tracuu.minvoice.vn/wp-content/uploads/2018/tietkiem.jpg" class="image wp-image-1402  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" sizes="(max-width: 300px) 100vw, 300px" />
                  </div>
                  <div class="hservice-title">
                    <a href="#">TIẾT KIỆM - HIỆU QUẢ</a>
                  </div>
                  <div class="hservice-desc">
                    <p><i class="fas fa-check"></i>Chi phí hợp lý nhiều tính năng vượt trội</p>
                    <p><i class="fas fa-check"></i>Hệ thống chat trực tiếp với kỹ thuật <i class=""></i>không qua tổng đài</p>
                    <p><i class="fas fa-check"></i>Hỗ trợ tra cứu hóa đơn theo Website riêng của doanh nghiệp</p>
                  </div>

                </div>
              </div>

              <div class="grid__item wow fadeInUp md-pd-left10 large--one-third medium--one-half small--one-whole"
                   data-wow-delay="0.6s"
                   data-wow-duration="0.75s">
                <div class="hservice-item text-center">
                  <div class="hservice-img">
                    <img width="80" height="180" src="~/UI/tracuu.minvoice.vn/wp-content/uploads/2018/baomat.jpg" class="image wp-image-1402  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" sizes="(max-width: 300px) 100vw, 300px" />
                  </div>
                  <div class="hservice-title">
                    <a href="#">AN TOÀN - BẢO MẬT</a>
                  </div>
                  <div class="hservice-desc">
                    <p><i class="fas fa-check"></i>Áp dụng mã hóa bảo mật thông tin hóa đơn</p>
                    <p><i class="fas fa-check"></i>Hệ thống Server Backup Realtime, Chống tấn công DDOS</p>
                    <p><i class="fas fa-check"></i>Áp dụng Quy trình ISO 27001:2013</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </article>
  <!-- #post-## -->
</main>
<!-- #main -->
</div>
<!-- #primary -->
<div id="secondary" class="widget-area">
  <aside id="media_image-6" class="widget widget_media_image">
    <div id="branding">
      <a href="https://minvoice.vn/" target="blank" class="custom-logo-link" rel="home" itemprop="url"><img width="150" height="90" src="~/UI/tracuu.minvoice.vn/wp-content/uploads/2018/lg1.jpg" class="custom-logo" alt="Công ty TNHH Hóa đơn điện tử M-Invoice" itemprop="logo" /></a>
    </div>
    <div class="signup-form">
      @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "register-form", @id = "register-form" }))
      {
        <div style="color:red">
          @Html.ValidationMessage("ErrorLogin")
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.AntiForgeryToken()
        <div class="form-group">
          @Html.TextBoxFor(model => model.mst, new { placeholder = "Mã số thuế người bán" })
        </div>
        <div class="form-group">
          @Html.ValidationMessageFor(model => model.mst, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
          @Html.TextBoxFor(model => model.username, new { placeholder = "Tên đăng nhập" })
        </div>
        <div class="form-group">
          @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
          @Html.PasswordFor(model => model.password, new { placeholder = "Mật khẩu" })
        </div>
        <div class="form-group">
          @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form-button">
          <input type="submit" name="signup" id="signup" class="form-submit" value="ĐĂNG NHẬP" style="text-align: center; font-weight: 600" />
        </div>
      }
    </div>
  </aside>
  <aside id="media_image" class="widget widget_media_image">
    <img width="300" height="180" src="~/UI/tracuu.minvoice.vn/wp-content/uploads/2018/img2.jpg" class="image wp-image-1402  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" sizes="(max-width: 300px) 100vw, 300px" />
  </aside>
</div>

<div id="display-pdf" style="height: 50px; clear: both">

</div>

<!-- Data ẩn -->

<div class="data-hidden">
  <div id="mst_html" hidden></div>
  <div id="sobaomat_html" hidden></div>
  <div id="invoiceauth" hidden></div>
  <div id="abcdefg" hidden></div>
  <div id="ecd" hidden></div>
  <div id="fileName" hidden></div>
  <p id="MaSoThue" hidden></p>
  <p id="KyHieu" hidden></p>
  <p id="MauSo" hidden></p>
  <p id="MaSoThueNguoiMua" hidden></p>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-invoice" style="">
    <!-- Modal content-->
    <div class="modal-content modal-content-invoice  col-md-8">
      <div class="modal-body modal-body-invoice " style="max-width: 100%;">
        <p id="title-load" style="text-align: center">Đang tải dữ liệu...</p>
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12" id="fix-table" style="display: none">
            <div class="table-invocie-info">
              <table class="table table-bordered" id="tableInvoiceInfo">
                <thead>
                  <h2 style="text-align: center !important;"> Thông tin hóa đơn</h2>
                  <tr>
                    <th scope="row">Số hóa đơn</th>
                    <td id="sohoadon_view"></td>
                  </tr>
                  <tr>
                    <th scope="row">Tiền trước thuế</th>
                    <td class="fix-color" id="tientrcthue_view"></td>
                  </tr>
                  <tr>
                    <th scope="row">Tiền thuế</th>
                    <td class="fix-color" id="tienthue_view"></td>
                  </tr>
                  <tr>
                    <th scope="row">Tổng tiền</th>
                    <td class="fix-color" id="tongtien_view"></td>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="buyer-sign-invoice">
              <button type="button" class="fa fa-pencil-square-o btn btn-primary fix-btn btn-block col text-center" id="btn-buyer-sign" onclick="buyerSignature()">&nbsp; Người mua ký hoá đơn &nbsp;</button>
            </div>

            <div class="action-other">
              <a href="#" class="fa fa-download fix-style" id="btn-dowd-zip" onclick="ExportZipXML()" title="Tải XML">&nbsp; Tải hoá đơn gốc XML (*.Zip)</a>
              <a href="#" class="fa um-faicon-file-pdf-o fix-style" id="btn-download-pdf-inchuyendoi" onClick="PrintInvoiceChuyenDoiPDF();" title="In Chuyển đổi hoá đơn ra giấy">&nbsp; &nbsp; In Chuyển đổi hoá đơn ra giấy</a>
              <a class="fa fa-address-card fix-style" href="#" id="readSignatureSeller" onclick="readSignature('seller')">&nbsp; Đọc chữ ký số người bán</a>
              <a href="#" onclick="GetInfoByMaSoThue()" class="fa fa-search fix-style"> &nbsp; Tra cứu TBPH hoá đơn của Người bán</a>
              <a href="#" class="fa fa-search fix-btn fix-style" type="button" id="btn-show" data-toggle="modal" onclick="CreateTable()">&nbsp; Tra cứu Thông báo Phát hành</a>
              <a href="http://tracuuhoadon.gdt.gov.vn/tc1hd.html" class="fa fa-search fix-style" id="btn-dowd-zip" onclick="" title="Tải XML">&nbsp; Tra cứu hoá đơn kê khai</a>
            </div>
          </div>

          <div id="htm-content" class="text-center col-md-9 col-sm-8 col-xs-12" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Thông báo phát hành -->
<div class="modal fade" id="exampleModal" role="dialog">
  <div class="modal-dialog show-notification">
    <div class="modal notification"></div>
    <div class="modal-body content-notification"></div>
  </div>
</div>

<script>


  function tableCreate() {
    var body = document.getElementsByTagName('body')[0];
    var tbl = document.createElement('table');
    tbl.style.width = '100%';
    tbl.setAttribute('border', '1');
    var tbdy = document.createElement('tbody');
    for (var i = 0; i < 3; i++) {
      var tr = document.createElement('tr');
      for (var j = 0; j < 2; j++) {
        if (i === 2 && j === 1) {
          break;
        } else {
          var td = document.createElement('td');
          td.appendChild(document.createTextNode('\u0020'));
          i === 1 && j === 1 ? td.setAttribute('rowSpan', '2') : null;
          tr.appendChild(td);
        }
      }
      tbdy.appendChild(tr);
    }
    tbl.appendChild(tbdy);
    body.appendChild(tbl);
  }
  tableCreate();
</script>

@section scripts
{
  <script src="~/Content/Scripts/jquery.signalR-2.2.3.min.js"></script>
  <script src="http://localhost:19898/signalr/signalr/hubs"></script>
  <script src="~/Scripts/minvoice.js"></script>

  <script>
    document.getElementById('input-file-now').addEventListener('change', handleFileSelect, false);
  </script>
}
